sportsteam-manager/src/main/resources/external/wsdl/smsglobal-2015-09-13.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:MobileWorks" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:MobileWorks">
<types>
<xsd:schema targetNamespace="urn:MobileWorks"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
</xsd:schema>
</types>
<message name="apiValidateLoginRequest">
  <part name="user" type="xsd:string" />
  <part name="password" type="xsd:string" /></message>
<message name="apiValidateLoginResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiRenewTicketRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiRenewTicketResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiLogoutRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiLogoutResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiGetPreferenceRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiGetPreferenceResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiGetPreferenceSenderRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiGetPreferenceSenderResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiSetPreferenceSenderRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sender" type="xsd:string" /></message>
<message name="apiSetPreferenceSenderResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiGetInterfaceRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiGetInterfaceResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiInterfaceRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiInterfaceResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiGetUpdateRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiGetUpdateResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiSendSmsRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="apiSendSmsResponse">
  <part name="return" type="xsd:string" /></message>
<message name="api2WaySendLongSmsRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="userfield" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="api2WaySendLongSmsResponse">
  <part name="return" type="xsd:string" /></message>
<message name="api2WaySendSmsRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="userfield" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="api2WaySendSmsResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiSendLongSmsRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="apiSendLongSmsResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiSendSmsToGroupRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="apiSendSmsToGroupResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiSendSmsToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" /></message>
<message name="apiSendSmsToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiBalanceSmsRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiBalanceSmsResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiBalanceCheckRequest">
  <part name="ticket" type="xsd:string" />
  <part name="iso_country" type="xsd:string" /></message>
<message name="apiBalanceCheckResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiGetBuddyListRequest">
  <part name="ticket" type="xsd:string" /></message>
<message name="apiGetBuddyListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiAddBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" />
  <part name="firstname" type="xsd:string" />
  <part name="lastname" type="xsd:string" />
  <part name="nickname" type="xsd:string" />
  <part name="cellphone" type="xsd:string" />
  <part name="email" type="xsd:string" />
  <part name="birthday" type="xsd:string" /></message>
<message name="apiAddBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiUpdateBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="firstname" type="xsd:string" />
  <part name="lastname" type="xsd:string" />
  <part name="nickname" type="xsd:string" />
  <part name="cellphone" type="xsd:string" />
  <part name="email" type="xsd:string" />
  <part name="birthday" type="xsd:string" /></message>
<message name="apiUpdateBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiMoveBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="bgid_from" type="xsd:string" />
  <part name="bgid_to" type="xsd:string" /></message>
<message name="apiMoveBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiCopyBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="bgid_from" type="xsd:string" />
  <part name="bgid_to" type="xsd:string" /></message>
<message name="apiCopyBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiRemoveBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="bgid" type="xsd:string" /></message>
<message name="apiRemoveBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiDeleteBuddyRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" /></message>
<message name="apiDeleteBuddyResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiAddBuddyGroupRequest">
  <part name="ticket" type="xsd:string" />
  <part name="name" type="xsd:string" /></message>
<message name="apiAddBuddyGroupResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiUpdateBuddyGroupRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" />
  <part name="name" type="xsd:string" /></message>
<message name="apiUpdateBuddyGroupResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiDeleteBuddyGroupRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" /></message>
<message name="apiDeleteBuddyGroupResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiAddBuddyBulkListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="name" type="xsd:string" /></message>
<message name="apiAddBuddyBulkListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiUpdateBuddyBulkListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bblid" type="xsd:string" />
  <part name="name" type="xsd:string" /></message>
<message name="apiUpdateBuddyBulkListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiDeleteBuddyBulkListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bblid" type="xsd:string" /></message>
<message name="apiDeleteBuddyBulkListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiMoveBuddyToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiMoveBuddyToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiCopyBuddyToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiCopyBuddyToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiRemoveBuddyFromListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bid" type="xsd:string" />
  <part name="blid" type="xsd:string" /></message>
<message name="apiRemoveBuddyFromListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiMoveBuddyGroupToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiMoveBuddyGroupToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiCopyBuddyGroupToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiCopyBuddyGroupToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiRemoveBuddyGroupFromListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="bgid" type="xsd:string" />
  <part name="blid" type="xsd:string" /></message>
<message name="apiRemoveBuddyGroupFromListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiMoveListToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="oblid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiMoveListToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiCopyListToListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="oblid" type="xsd:string" />
  <part name="blid_from" type="xsd:string" />
  <part name="blid_to" type="xsd:string" /></message>
<message name="apiCopyListToListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiRemoveListFromListRequest">
  <part name="ticket" type="xsd:string" />
  <part name="oblid" type="xsd:string" />
  <part name="blid" type="xsd:string" /></message>
<message name="apiRemoveListFromListResponse">
  <part name="return" type="xsd:string" /></message>
<message name="apiMTEmailRequest">
  <part name="ticket" type="xsd:string" />
  <part name="sms_from" type="xsd:string" />
  <part name="sms_to" type="xsd:string" />
  <part name="msg_content" type="xsd:string" />
  <part name="msg_type" type="xsd:string" />
  <part name="unicode" type="xsd:string" />
  <part name="schedule" type="xsd:string" />
  <part name="return_email" type="xsd:string" /></message>
<message name="apiMTEmailResponse">
  <part name="return" type="xsd:string" /></message>
<portType name="MobileWorksPortType">
  <operation name="apiValidateLogin">
    <documentation>Validate a user by supplied password, returns session ticket</documentation>
    <input message="tns:apiValidateLoginRequest"/>
    <output message="tns:apiValidateLoginResponse"/>
  </operation>
  <operation name="apiRenewTicket">
    <documentation>Renew a session ticket, returns session ticket</documentation>
    <input message="tns:apiRenewTicketRequest"/>
    <output message="tns:apiRenewTicketResponse"/>
  </operation>
  <operation name="apiLogout">
    <documentation>Logout from MobileWorks, returns 1 for successed logout</documentation>
    <input message="tns:apiLogoutRequest"/>
    <output message="tns:apiLogoutResponse"/>
  </operation>
  <operation name="apiGetPreference">
    <documentation>Get preferences from MobileWorks, returns xml set of preferences</documentation>
    <input message="tns:apiGetPreferenceRequest"/>
    <output message="tns:apiGetPreferenceResponse"/>
  </operation>
  <operation name="apiGetPreferenceSender">
    <documentation>Get sender ID from MobileWorks, returns sender ID</documentation>
    <input message="tns:apiGetPreferenceSenderRequest"/>
    <output message="tns:apiGetPreferenceSenderResponse"/>
  </operation>
  <operation name="apiSetPreferenceSender">
    <documentation>Set sender ID, returns 1 for succeeded operation</documentation>
    <input message="tns:apiSetPreferenceSenderRequest"/>
    <output message="tns:apiSetPreferenceSenderResponse"/>
  </operation>
  <operation name="apiGetInterface">
    <documentation>Get interface, returns xml set of interface used by MobileWorks GUI client software</documentation>
    <input message="tns:apiGetInterfaceRequest"/>
    <output message="tns:apiGetInterfaceResponse"/>
  </operation>
  <operation name="apiInterface">
    <documentation>Get interface, returns xml set of interface used by MobileWorks GUI client software</documentation>
    <input message="tns:apiInterfaceRequest"/>
    <output message="tns:apiInterfaceResponse"/>
  </operation>
  <operation name="apiGetUpdate">
    <documentation>Get update, returns xml set of updated values</documentation>
    <input message="tns:apiGetUpdateRequest"/>
    <output message="tns:apiGetUpdateResponse"/>
  </operation>
  <operation name="apiSendSms">
    <documentation>Send SMS, returns XML set of message ID and destination number</documentation>
    <input message="tns:apiSendSmsRequest"/>
    <output message="tns:apiSendSmsResponse"/>
  </operation>
  <operation name="api2WaySendLongSms">
    <documentation>Send Long SMS (over 160 characters), returns XML set of message ID and destination number</documentation>
    <input message="tns:api2WaySendLongSmsRequest"/>
    <output message="tns:api2WaySendLongSmsResponse"/>
  </operation>
  <operation name="api2WaySendSms">
    <documentation>Send SMS, returns XML set of message ID and destination number</documentation>
    <input message="tns:api2WaySendSmsRequest"/>
    <output message="tns:api2WaySendSmsResponse"/>
  </operation>
  <operation name="apiSendLongSms">
    <documentation>Send Long SMS, returns XML set of message ID and destination number</documentation>
    <input message="tns:apiSendLongSmsRequest"/>
    <output message="tns:apiSendLongSmsResponse"/>
  </operation>
  <operation name="apiSendSmsToGroup">
    <documentation>Send SMS to group, returns xml set of message id</documentation>
    <input message="tns:apiSendSmsToGroupRequest"/>
    <output message="tns:apiSendSmsToGroupResponse"/>
  </operation>
  <operation name="apiSendSmsToList">
    <documentation>Send SMS to list, returns xml set of message id</documentation>
    <input message="tns:apiSendSmsToListRequest"/>
    <output message="tns:apiSendSmsToListResponse"/>
  </operation>
  <operation name="apiBalanceSms">
    <documentation>Check balance by session ticket, returns balance</documentation>
    <input message="tns:apiBalanceSmsRequest"/>
    <output message="tns:apiBalanceSmsResponse"/>
  </operation>
  <operation name="apiBalanceCheck">
    <documentation>Check credit based balance by session ticket, returns SMS Balance</documentation>
    <input message="tns:apiBalanceCheckRequest"/>
    <output message="tns:apiBalanceCheckResponse"/>
  </operation>
  <operation name="apiGetBuddyList">
    <documentation>Get buddylist by session ticket, returns xml set of buddies</documentation>
    <input message="tns:apiGetBuddyListRequest"/>
    <output message="tns:apiGetBuddyListResponse"/>
  </operation>
  <operation name="apiAddBuddy">
    <documentation>Add a buddy to a buddygroup, returns buddy ID</documentation>
    <input message="tns:apiAddBuddyRequest"/>
    <output message="tns:apiAddBuddyResponse"/>
  </operation>
  <operation name="apiUpdateBuddy">
    <documentation>Update a buddy, returns 0 for failed update</documentation>
    <input message="tns:apiUpdateBuddyRequest"/>
    <output message="tns:apiUpdateBuddyResponse"/>
  </operation>
  <operation name="apiMoveBuddy">
    <documentation>Move a buddy, returns 0 for failed update</documentation>
    <input message="tns:apiMoveBuddyRequest"/>
    <output message="tns:apiMoveBuddyResponse"/>
  </operation>
  <operation name="apiCopyBuddy">
    <documentation>Copy a buddy, returns 0 for failed update</documentation>
    <input message="tns:apiCopyBuddyRequest"/>
    <output message="tns:apiCopyBuddyResponse"/>
  </operation>
  <operation name="apiRemoveBuddy">
    <documentation>Remove a buddy from buddygroup, not delete it from contact lists, returns 0 for failed deletion</documentation>
    <input message="tns:apiRemoveBuddyRequest"/>
    <output message="tns:apiRemoveBuddyResponse"/>
  </operation>
  <operation name="apiDeleteBuddy">
    <documentation>Delete a buddy, returns 0 for failed deletion</documentation>
    <input message="tns:apiDeleteBuddyRequest"/>
    <output message="tns:apiDeleteBuddyResponse"/>
  </operation>
  <operation name="apiAddBuddyGroup">
    <documentation>Add a buddygroup, returns buddygroup ID</documentation>
    <input message="tns:apiAddBuddyGroupRequest"/>
    <output message="tns:apiAddBuddyGroupResponse"/>
  </operation>
  <operation name="apiUpdateBuddyGroup">
    <documentation>Update a buddygroup, returns 0 for failed update</documentation>
    <input message="tns:apiUpdateBuddyGroupRequest"/>
    <output message="tns:apiUpdateBuddyGroupResponse"/>
  </operation>
  <operation name="apiDeleteBuddyGroup">
    <documentation>Delete a buddygroup, returns 0 for failed deletion</documentation>
    <input message="tns:apiDeleteBuddyGroupRequest"/>
    <output message="tns:apiDeleteBuddyGroupResponse"/>
  </operation>
  <operation name="apiAddBuddyBulkList">
    <documentation>Add a buddybulklist, returns buddybulklist ID</documentation>
    <input message="tns:apiAddBuddyBulkListRequest"/>
    <output message="tns:apiAddBuddyBulkListResponse"/>
  </operation>
  <operation name="apiUpdateBuddyBulkList">
    <documentation>Update a buddybulklist, returns 0 for failed update</documentation>
    <input message="tns:apiUpdateBuddyBulkListRequest"/>
    <output message="tns:apiUpdateBuddyBulkListResponse"/>
  </operation>
  <operation name="apiDeleteBuddyBulkList">
    <documentation>Delete a buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiDeleteBuddyBulkListRequest"/>
    <output message="tns:apiDeleteBuddyBulkListResponse"/>
  </operation>
  <operation name="apiMoveBuddyToList">
    <documentation>Move a buddy to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiMoveBuddyToListRequest"/>
    <output message="tns:apiMoveBuddyToListResponse"/>
  </operation>
  <operation name="apiCopyBuddyToList">
    <documentation>Copy a buddy to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiCopyBuddyToListRequest"/>
    <output message="tns:apiCopyBuddyToListResponse"/>
  </operation>
  <operation name="apiRemoveBuddyFromList">
    <documentation>Remove a buddy From buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiRemoveBuddyFromListRequest"/>
    <output message="tns:apiRemoveBuddyFromListResponse"/>
  </operation>
  <operation name="apiMoveBuddyGroupToList">
    <documentation>Move a Buddy Group to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiMoveBuddyGroupToListRequest"/>
    <output message="tns:apiMoveBuddyGroupToListResponse"/>
  </operation>
  <operation name="apiCopyBuddyGroupToList">
    <documentation>Copy a Buddy Group to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiCopyBuddyGroupToListRequest"/>
    <output message="tns:apiCopyBuddyGroupToListResponse"/>
  </operation>
  <operation name="apiRemoveBuddyGroupFromList">
    <documentation>Remove a BuddyGroup From buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiRemoveBuddyGroupFromListRequest"/>
    <output message="tns:apiRemoveBuddyGroupFromListResponse"/>
  </operation>
  <operation name="apiMoveListToList">
    <documentation>Move a bulk list to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiMoveListToListRequest"/>
    <output message="tns:apiMoveListToListResponse"/>
  </operation>
  <operation name="apiCopyListToList">
    <documentation>Copy a bulk list to buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiCopyListToListRequest"/>
    <output message="tns:apiCopyListToListResponse"/>
  </operation>
  <operation name="apiRemoveListFromList">
    <documentation>Remove a bulk list From buddybulklist, returns 0 for failed deletion</documentation>
    <input message="tns:apiRemoveListFromListRequest"/>
    <output message="tns:apiRemoveListFromListResponse"/>
  </operation>
  <operation name="apiMTEmail">
    <documentation>Send SMS, returns XML set of message ID and destination number</documentation>
    <input message="tns:apiMTEmailRequest"/>
    <output message="tns:apiMTEmailResponse"/>
  </operation>
</portType>
<binding name="MobileWorksBinding" type="tns:MobileWorksPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="apiValidateLogin">
    <soap:operation soapAction="urn:MobileWorks#apiValidateLogin" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiRenewTicket">
    <soap:operation soapAction="urn:MobileWorks#apiRenewTicket" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiLogout">
    <soap:operation soapAction="urn:MobileWorks#apiLogout" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiGetPreference">
    <soap:operation soapAction="urn:MobileWorks#apiGetPreference" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiGetPreferenceSender">
    <soap:operation soapAction="urn:MobileWorks#apiGetPreferenceSender" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiSetPreferenceSender">
    <soap:operation soapAction="urn:MobileWorks#apiSetPreferenceSender" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiGetInterface">
    <soap:operation soapAction="urn:MobileWorks#apiGetInterface" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiInterface">
    <soap:operation soapAction="urn:MobileWorks#apiInterface" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiGetUpdate">
    <soap:operation soapAction="urn:MobileWorks#apiGetUpdate" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiSendSms">
    <soap:operation soapAction="urn:MobileWorks#apiSendSms" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="api2WaySendLongSms">
    <soap:operation soapAction="urn:MobileWorks#api2WaySendLongSms" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="api2WaySendSms">
    <soap:operation soapAction="urn:MobileWorks#apiSendSms" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiSendLongSms">
    <soap:operation soapAction="urn:LexicomSoap#apiSendLongSms" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:LexicomSoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:LexicomSoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiSendSmsToGroup">
    <soap:operation soapAction="urn:MobileWorks#apiSendSmsToGroup" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiSendSmsToList">
    <soap:operation soapAction="urn:MobileWorks#apiSendSmsToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiBalanceSms">
    <soap:operation soapAction="urn:MobileWorks#apiBalanceSms" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiBalanceCheck">
    <soap:operation soapAction="urn:MobileWorks#apiBalanceCheck" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiGetBuddyList">
    <soap:operation soapAction="urn:MobileWorks#apiGetBuddyList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiAddBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiAddBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiUpdateBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiUpdateBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiMoveBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiMoveBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiCopyBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiCopyBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiRemoveBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiRemoveBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiDeleteBuddy">
    <soap:operation soapAction="urn:MobileWorks#apiDeleteBuddy" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiAddBuddyGroup">
    <soap:operation soapAction="urn:MobileWorks#apiAddBuddyGroup" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiUpdateBuddyGroup">
    <soap:operation soapAction="urn:MobileWorks#apiUpdateBuddyGroup" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiDeleteBuddyGroup">
    <soap:operation soapAction="urn:MobileWorks#apiDeleteBuddyGroup" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiAddBuddyBulkList">
    <soap:operation soapAction="urn:MobileWorks#apiAddBuddyBulkList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiUpdateBuddyBulkList">
    <soap:operation soapAction="urn:MobileWorks#apiUpdateBuddyBulkList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiDeleteBuddyBulkList">
    <soap:operation soapAction="urn:MobileWorks#apiDeleteBuddyBulkList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiMoveBuddyToList">
    <soap:operation soapAction="urn:MobileWorks#apiMoveBuddyToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiCopyBuddyToList">
    <soap:operation soapAction="urn:MobileWorks#apiCopyBuddyToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiRemoveBuddyFromList">
    <soap:operation soapAction="urn:MobileWorks#apiRemoveBuddyFromList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiMoveBuddyGroupToList">
    <soap:operation soapAction="urn:MobileWorks#apiMoveBuddyGroupToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiCopyBuddyGroupToList">
    <soap:operation soapAction="urn:MobileWorks#apiCopyBuddyGroupToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiRemoveBuddyGroupFromList">
    <soap:operation soapAction="urn:MobileWorks#apiRemoveBuddyGroupFromList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiMoveListToList">
    <soap:operation soapAction="urn:MobileWorks#apiMoveListToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiCopyListToList">
    <soap:operation soapAction="urn:MobileWorks#apiCopyListToList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiRemoveListFromList">
    <soap:operation soapAction="urn:MobileWorks#apiRemoveListFromList" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="apiMTEmail">
    <soap:operation soapAction="urn:MobileWorks#apiMTEmail" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:MobileWorks" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="MobileWorks">
  <port name="MobileWorksPort" binding="tns:MobileWorksBinding">
    <soap:address location="http://www.smsglobal.com/mobileworks/soapserver.php"/>
  </port>
</service>
</definitions>